Traceability/Web References/OperatorLoginService/OperatorLogin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OperatorLoginWebS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OperatorLoginWebS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line" type="xs:int" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorBR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationNumber" type="xs:int" />
      <xs:element minOccurs="0" name="WeldingPoints" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationInfo" nillable="true" type="tns:StationInfo" />
</xs:schema>